.App {
  text-align: center;
}
/* body {
  background-image: url("../public/formback.png");
} */
/*body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}*/

body.dark-mode .container-sm {
  background-color: #1e1e1e;
  color: #ffffff;
  box-shadow: 0 0 25px #00f0ff;
}

body.dark-mode input,
body.dark-mode textarea,
body.dark-mode select {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #00f0ff;
}
body.no-bg {
  background-image: none !important;
  background: "linear-gradient(135deg,#0f2027,#203a43,#25364)";
  /* Optional fallback */
}

/* Optional: Adds a glowing effect when an input is focused */
body.dark-mode input:focus {
  box-shadow: 0 0 8px #00f0ff;
  outline: none;
}

body.light-mode {
  background-color: #ffffff;
  color: #000000;
}

body.light-mode .container-sm {
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 0 15px #00f0ff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
